{{ define "head_extension" }}
  {{ $sass := resources.Get "scss/home.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />
{{ end }}

{{ define "main" }}
  <section id="top">
    <div class="container text-center">
      <span class="kde-logo-big">K</span>
      <h1>{{ i18n "home.header.title" }}</h1>
      <p>{{ i18n "home.header.subtitle" }}</p>
    </div>
  </section>

  {{ partial "develop_menu.html" . }}

  <section id="platform-hero">
    <div class="container text-center">
      <h2>{{ i18n "home.multiplatform.title" }}</h2>
      <p>{{ i18n "home.multiplatform.text1" }}</p>
      <p>{{ i18n "home.multiplatform.text2" }}</p>
     </div>
     <div class="d-flex" id="platform-illustration">
       <img src="/plasma-devices.svg" alt="{{ i18n "home.multiplatform.alt" }}" class="img-fluid col-12 col-lg-10 mx-md-auto" />
     </div>
  </section>

  <section id="develop-hero" class="p-4" style="height: auto;">
    <div class="container text-center p-5" style="background-color: #333">
      <h1 class="h2 mt-0" style="color: #EEE;">{{ i18n "home.qt.title" }}</h1>
      <p class="my-0 mx-auto p-2" style="color: #CCC; max-width: 500px;">{{ i18n "home.qt.description" }}</p>
      <a class="learn-more" href="/products/frameworks/">{{ i18n "learn-more" }}</a>
    </div>
  </section>

  <section class="d-flex pt-0 py-sm-5">
    <img src="/frameworks/kirigami/kirigami-devices.png" alt="" class="img-fluid kirigami-devices d-none d-sm-block"/>
    <div class="align-self-center container">
      <section class="d-sm-none kirigami-header"><h1><p class="header-logo">K</p>{{ i18n "home.kirigami.title" }}</h1></section>
      <h2 class="h1 mt-5 mt-sm-0">{{ i18n "home.kirigami.name" }}</h2>
      <h3>{{ i18n "home.kirigami.subtitle" }}</h3>
      <p>{{ i18n "home.kirigami.description1" }}</p>
      <p>{{ i18n "home.kirigami.description2" }}</p>
      <p class="mb-0"><a href="/frameworks/kirigami/" class="learn-more">{{ i18n "home.kirigami.discover" }}</a></p>
    </div>
  </section>

  <section class="section-blue">
    <div class="container d-flex flex-column">
      <div class="align-self-center">
        <h2 class="h1 mt-0">{{ i18n "home.kdevelop.title" }}</h2>
        <h3>{{ i18n "home.kdevelop.subtitle" }}</h3>
        <p>{{ i18n "home.kdevelop.description" }}</p>
        <p><a href="https://kdevelop.org" class="learn-more">{{ i18n "home.kdevelop.get" }}</a></p> 
      </div>
      <img class="img-fluid mt-3 mt-md-5 shadow" src="https://cdn.kde.org/screenshots/kdevelop/kdevelop.png" />
    </div>
  </section>

  <section>
    <div class="container text-center">
      <h2 class="mt-0">{{ i18n "home.doc.title" }}</h2>
      <p>{{ i18n "home.doc.description" }}</p>
      <br/>
      <div class="tools">
        <a class="tool" href="/docs/use/kxmlgui">
          <div>
            <h3>Getting Started</h3>
            <p>Learn the basics and create your first KDE application</p>
          </div>
          <div>
            <img class="img-fluid" src="https://kde.org/stuff/clipart/logo/kde-logo-white-blue-rounded-source.svg" />
          </div>
        </a>
        <a class="tool" href="/docs/use/kirigami">
          <div>
            <h3>Kirigami</h3>
            <p>Build beautiful, convergent apps that run on phones, TVs and everything in between.</p>
          </div>
          <div>
            <img class="img-fluid" src="/kirigami/kirigami-icon.png" />
          </div>
        </a>
        <!-- Add more link in the future (Plasma, PIM) -->
      </div>
    </div>
  </section>

  {{ with .Content }}
    {{ . }}
  {{ end }}
{{ end }}
